<html><head>
<meta charset="utf-8">
<title>List</title></head>
<body>
<p>工作清單</p>
<hr />
<h1>你的身分是: {{data.userID}}</h1>
<table width="200" border="1">
  <tr>
    <td>id</td>
    <td>Job Name</td>
	<td>Job Content</td>
	<td></td>
  </tr>
    {% for rec in data.data %}
	<tr>
		<td>{{rec.id}}</td>
		<td>{{rec.jobName}}</td>
		<td>{{rec.jobContent}}</td>
		<td>
			<a href="editForm?id={{rec.id}}">Edit</a>
			<a href="showJob?id={{rec.id}}">show</a>
			<a href="delJob?id={{rec.id}}">del</a>
		</td>
	</tr>
    {% endfor %}
</table>
<a href="/addForm.html">Add New Job</a> <a href="loginPage.html">重新登入</a>
</body></html>

